[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
sqlalchemy = "*"
flask-restx = "*"
pyyaml = "*"
flask-cors = "*"
ipython = "*"
flask-jwt-extended = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
joblib = "*"
bs4 = "*"

[requires]
python_version = "3.8"
