.App {
  text-align: center;
}


.App-banner {
  background-color: #282c34;
  min-height: flex;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.App-title {
	justify-content: flex-end;
	padding-right: 70%

}


.App-link {
  color: #61dafb;
}


